html {
    height: 100vh;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator {
    background-color: gray;
    border: solid 3px black;
    width: 30vh;
    display: flex;
    flex-direction: column;
    padding: 18px 5px 5px 5px;
    border-radius: 6px;
    justify-content: flex-end;
    gap: 30px; 
}
#display {
    background-color: lightgray;
    border-radius: 6px;
    padding: 3px 5px 1px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 25px;
    border: solid 1px black;
}
#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 5px;
}
#clear-btn {
    text-align: center;
    width: 100%;
}
button {
    border: solid 1px black;
    border-radius: 4px;
}